services:
  web:
    container_name: image_web_${FORM_NAME}
    build:
      context: ../
      dockerfile: image/Dockerfile
      args:
        - DOMAIN=${DOMAIN:-localhost}
    env_file:
      - .env
    # uncomment for local port
    # ports:
    #   - 8081
    # expose:
    #   - '0.0.0.0:8081:8081'
    volumes:
      # - ../app/contact_form:/app/contact_form # uncomment for dev
      - /run/uwsgi/${FORM_NAME}:/app/uwsgi
      - ./logs:/var/log/uwsgi_email_form
    restart: unless-stopped
